/*  ----------------------------------------------------------------------------
    responsive settings
*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
.mx_image_background {
  background-color: #f2f2f2;
}
.td-visibility-hidden {
  visibility: hidden;
}
/*  ----------------------------------------------------------------------------
    from bootstrap
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*
usage:
.td-block-row {
  .mx-row(td-block-span);
}

@all_span_selector - is the begining of the span selector
 */
/* Art book demo */
.td-art-book .td_block_template_2 .td-block-title {
  margin-bottom: 35px;
  z-index: 1;
  /* responsive portrait tablet */
  /* responsive portrait phone */
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-art-book .td_block_template_2 .td-block-title {
    margin-bottom: 26px;
    font-size: 26px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .td-art-book .td_block_template_2 .td-block-title {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 26px;
  }
}
.td-art-book .entry-title {
  padding-bottom: 0;
}
.td-art-book .entry-title:after {
  display: none;
}
.td-art-book .td_module_4 .entry-title {
  /* responsive portrait tablet */
  /* responsive portrait phone */
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-art-book .td_module_4 .entry-title {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .td-art-book .td_module_4 .entry-title {
    font-size: 22px;
    line-height: 28px;
  }
}
.td-art-book .td_module_4 .td-post-category-wrap {
  bottom: 20px;
  text-align: left;
  /* responsive portrait phone */
}
@media (max-width: 767px) {
  .td-art-book .td_module_4 .td-post-category-wrap {
    bottom: 0;
  }
}
.td-art-book .td_block_rd_11.td-column-3 .td-read-more {
  display: inline-block;
  background-color: #42bdcd;
  padding: 10px 18px 12px;
  font-size: 14px;
  text-transform: none;
  color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.td-art-book .td_block_rd_11.td-column-3 .td-read-more:hover {
  background-color: #000;
}
.td-art-book .td_block_rd_11.td-column-3 .td-read-more i {
  display: none;
}
.td-art-book .td_block_big_grid_rd_bg_fl_5 {
  /* responsive tablet + desktop */
}
@media (min-width: 767px) {
  .td-art-book .td_block_big_grid_rd_bg_fl_5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.td-art-book .td_block_big_grid_rd_bg_fl_5 .td-big-grid-post {
  border-width: 0 !important;
}
.td-art-book .td_block_big_grid_rd_bg_fl_5 .entry-title {
  font-family: "Open Sans";
  text-transform: none;
  font-weight: 700;
}
.td-art-book .td-photography-intro .td-block-title > * {
  font-size: 32px;
  font-weight: 700;
  /* responsive portrait tablet */
  /* responsive portrait phone */
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-art-book .td-photography-intro .td-block-title > * {
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  .td-art-book .td-photography-intro .td-block-title > * {
    font-size: 25px;
  }
}
.td-art-book .td-post-template-rd-10 .td-category a {
  background-color: transparent;
  padding: 0;
  /* responsive portrait phone */
}
@media (max-width: 767px) {
  .td-art-book .td-post-template-rd-10 .td-category a {
    font-size: 15px;
  }
}
.td-art-book .td-post-template-rd-10 .td_block_related_posts .td-block-title {
  margin-bottom: 22px;
}
.td-art-book .td-post-template-rd-10 .td_block_related_posts .td-block-title a {
  /* responsive portrait tablet */
  /* responsive portrait phone */
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-art-book .td-post-template-rd-10 .td_block_related_posts .td-block-title a {
    font-size: 26px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .td-art-book .td-post-template-rd-10 .td_block_related_posts .td-block-title a {
    font-size: 22px;
    line-height: 26px;
  }
}
.td-art-book .td-post-template-rd-10 .comment-reply-title#reply-title {
  padding-bottom: 0;
  font-family: 'Open Sans';
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #525558;
  /* responsive portrait tablet */
  /* responsive portrait phone */
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-art-book .td-post-template-rd-10 .comment-reply-title#reply-title {
    font-size: 26px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .td-art-book .td-post-template-rd-10 .comment-reply-title#reply-title {
    font-size: 22px;
    line-height: 26px;
  }
}
.td-art-book .td-post-template-rd-10 .comment-reply-title#reply-title:after {
  display: none;
}
.td-art-book .page-nav a,
.td-art-book .page-nav a:before,
.td-art-book .page-nav span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.td-art-book .td-footer-template-10 {
  padding-top: 0;
}
.td-art-book .td-footer-template-10 .td_block_template_2 .td-block-title {
  margin-bottom: 22px;
}
.td-art-book .td-footer-template-10 .td_block_template_2 .td-block-title > * {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}
.td-art-book .td-footer-template-10 .td_block_rd_10 .td_module_wrap {
  padding-bottom: 0;
  display: inline-block;
}
.td-art-book .td-footer-template-10 .td_block_rd_10 .td-module-image {
  position: relative;
  top: auto;
  left: auto;
  margin: 0 0 -3px;
  width: 96px;
}
.td-art-book .td-footer-template-10 .td_block_rd_10 .td-item-details {
  display: none;
}
.td-art-book #td-theme-settings .td-skin-buy a {
  background-color: #1680d3;
}
