/*  ----------------------------------------------------------------------------
    responsive settings
*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
.mx_image_background {
  background-color: #f2f2f2;
}
.td-visibility-hidden {
  visibility: hidden;
}
/*  ----------------------------------------------------------------------------
    from bootstrap
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*
usage:
.td-block-row {
  .mx-row(td-block-span);
}

@all_span_selector - is the begining of the span selector
 */
.td-ionmag-photo .td-header-menu-wrap::before,
.td-ionmag-photo .td-header-menu-wrap::after {
  display: none;
}
.td-ionmag-photo .td-header-style-2 {
  background-color: rgba(8, 8, 16, 0.81);
  position: relative;
  z-index: 3;
}
.td-ionmag-photo .td-header-style-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(8, 8, 16, 0.85) 0%, rgba(8, 8, 16, 0.85) 1%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(8, 8, 16, 0.85) 0%, rgba(8, 8, 16, 0.85) 1%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(8, 8, 16, 0.85) 0%, rgba(8, 8, 16, 0.85) 1%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9000000', endColorstr='#080810', GradientType=0);
  /* IE6-9 */
}
.td-ionmag-photo .td-header-style-2 .td-header-logo-wrap {
  background-color: transparent !important;
}
.td-ionmag-photo .td-header-style-2 .td-logo-wrap-full {
  background-color: transparent;
  min-height: 100px;
  line-height: 100px;
}
.td-ionmag-photo .td-header-style-2 .td-affix.td-header-menu-wrap {
  background-color: rgba(8, 8, 16, 0.81);
}
.td-ionmag-photo .td-photo-header-row .wpb_text_column p {
  color: #fff;
  font-family: 'Montserrat', 'Open Sans', arial, sans-serif;
  font-style: italic;
  font-size: 34px;
  line-height: 41px;
  text-transform: none;
  text-align: center;
  display: block;
  width: 85%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .td-ionmag-photo .td-photo-header-row .wpb_text_column p {
    font-size: 24px;
    line-height: 32px;
  }
}
.td-ionmag-photo .td-photo-header-block .td_block_template_12 .td-next-prev-wrap {
  margin-top: 0 !important;
  top: -2px;
}
.td-ionmag-photo .td-photo-header-block .td_block_template_12 .td-next-prev-wrap a {
  color: #fff;
  border: 2px solid #dcdcdc;
}
.td-ionmag-photo .td_with_ajax_pagination .td-block-title-wrap {
  padding-left: 80px;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12 .td-block-title-wrap {
  width: 100%;
  min-height: 52px;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12 .td-next-prev-wrap {
  position: absolute;
  margin-top: -5px !important;
  top: 0;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12 .td-next-prev-wrap a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #b7b7b7;
  border: 2px solid #dcdcdc;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12 .td-next-prev-wrap i {
  font-size: 11px;
  text-align: center;
  display: inline-block;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12.td_block_mega_menu .td-next-prev-wrap,
.td-ionmag-photo .td-main-content-wrap .td_block_template_12.td_block_related_posts .td-next-prev-wrap {
  position: relative;
  top: 0;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12.td_block_related_posts .td-block-title {
  margin-bottom: 20px;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12 .td-next-prev-wrap a:hover {
  background-color: #50c3f4;
  border-color: #50c3f4;
  color: #fff;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12 .td-ajax-prev-page {
  margin-right: 2px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-right: 0;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12 .td-ajax-next-page {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-left: 0;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12 .td-ajax-next-page:before {
  display: none;
}
.td-ionmag-photo .td-main-content-wrap .td_block_template_12 .td-pulldown-category {
  margin: 0;
}
.td-ionmag-photo .td_module_rd_4 .td-excerpt,
.td-ionmag-photo .td_module_rd_4 .td-read-more {
  display: none;
}
.td-ionmag-photo .td-post-category {
  background-color: #50c3f4;
}
.td-ionmag-photo .td-photo-dark-row .td_module_rd_15 .td-module-title {
  text-align: center;
}
@media (max-width: 767px) {
  .td-ionmag-photo .td-photo-dark-row .td_module_rd_15 .td-post-category {
    font-size: 7px;
    line-height: 12px;
  }
}
.td-ionmag-photo .td-photo-dark-row .td-module-thumb:hover .entry-thumb {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px, rgba(0, 0, 0, 0.2) 0px 4px 4px, rgba(0, 0, 0, 0.2) 0px 8px 8px, rgba(0, 0, 0, 0.2) 0px 16px 16px, rgba(0, 0, 0, 0.2) 0px 32px 32px, rgba(0, 0, 0, 0.1) 0px 64px 64px;
}
.td-ionmag-photo .td-photo-dark-row .td_module_wrap .td-module-title a,
.td-ionmag-photo .td-photo-dark-row .td-post-author-name a,
.td-ionmag-photo .td-photo-dark-row .td-social-style9 .td_social_info {
  color: #fff;
}
.td-ionmag-photo .td-photo-dark-row .td_module_wrap:hover .td-module-title a {
  color: #50c3f4;
}
.td-ionmag-photo .td-photo-dark-row .td-social-style9 .td_social_info_name {
  color: #888;
}
.td-ionmag-photo .td-photo-dark-row .td-social-style9 .td_social_type {
  width: 50%;
  margin-bottom: 15px;
  /* responsive portrait phone */
}
.td-ionmag-photo .td-photo-dark-row .td-social-style9 .td_social_type:last-child,
.td-ionmag-photo .td-photo-dark-row .td-social-style9 .td_social_type:nth-last-child(2) {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .td-ionmag-photo .td-photo-dark-row .td-social-style9 .td_social_type {
    width: 25%;
    margin-bottom: 0;
  }
}
.td-ionmag-photo .td-photo-dark-row .td-social-style9 .td_social_type .td-social-box {
  height: 130px;
}
.td-ionmag-photo .td-photo-dark-row .td-social-style9 .td_social_info {
  font-family: 'Montserrat', 'Open Sans', arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
  /* responsive portrait phone */
}
@media (max-width: 767px) {
  .td-ionmag-photo .td-photo-dark-row .td-social-style9 .td_social_info {
    font-size: 16px;
    line-height: 18px;
  }
}
.td-ionmag-photo .td-photo-dark-row .td-social-style9 .td_social_info_name {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #757581;
}
.td-ionmag-photo .td-photo-dark-row .td_block_pinterest.td_block_template_12 .td-block-title-wrap {
  display: none;
}
.td-ionmag-photo .td-photo-dark-row .td_block_pinterest .td-pinterest-user,
.td-ionmag-photo .td-photo-dark-row .td_block_pinterest .td-pinterest-followers {
  color: #fff;
}
.td-ionmag-photo .td-photo-dark-row .td_block_pinterest .td-pinterest-main-wrap {
  overflow-y: hidden !important;
}
.td-ionmag-photo .td_module_wrap .td-post-category {
  padding: 2px 8px;
}
.td-ionmag-photo .td_module_2 .td-module-title,
.td-ionmag-photo .td_module_2 .td-module-meta-info,
.td-ionmag-photo .td_module_2 .td-excerpt {
  text-align: center;
}
.td-ionmag-photo .td_module_2 .entry-title:after {
  right: 0;
  margin: 0 auto;
}
.td-ionmag-photo .td_module_3 .td-category-small .td-post-category {
  line-height: 12px;
}
.td-ionmag-photo .td_module_related_posts .td-post-category-wrap {
  bottom: -3px;
  text-align: center;
}
.td-ionmag-photo .td_module_related_posts .td-post-category {
  font-family: 'Montserrat', 'Open Sans', arial, sans-serif;
  font-size: 9px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2px 8px;
}
@media (max-width: 767px) {
  .td-ionmag-photo .td_module_related_posts .td-post-category {
    font-size: 7px;
    line-height: 12px;
  }
}
@media (min-width: 768px) {
  .td-ionmag-photo .td_module_related_posts .entry-title {
    text-align: center;
  }
}
.td-ionmag-photo .td_module_related_posts .entry-title a {
  font-family: "Source Sans Pro", 'Open Sans', arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  /* responsive portrait tablet */
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-ionmag-photo .td_module_related_posts .entry-title a {
    font-size: 13px;
    line-height: 19px;
  }
}
.td-ionmag-photo .td_block_author.td_block_widget .td-block-title {
  text-align: center;
}
.td-ionmag-photo .td_block_author .avatar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.td-ionmag-photo .td_module_mega_menu .td-module-thumb,
.td-ionmag-photo .td_module_related_posts .td-module-thumb,
.td-ionmag-photo .td_module_rd_4 .td-module-thumb,
.td-ionmag-photo .td_module_rd_15 .td-module-thumb,
.td-ionmag-photo .td_module_2 .td-module-thumb,
.td-ionmag-photo .td_module_3 .td-module-thumb {
  overflow: visible;
}
.td-ionmag-photo .td_module_mega_menu .td-module-thumb .entry-thumb,
.td-ionmag-photo .td_module_related_posts .td-module-thumb .entry-thumb,
.td-ionmag-photo .td_module_rd_4 .td-module-thumb .entry-thumb,
.td-ionmag-photo .td_module_2 .td-module-thumb .entry-thumb,
.td-ionmag-photo .td_module_3 .td-module-thumb .entry-thumb,
.td-ionmag-photo .td_module_rd_15 .td-module-thumb .entry-thumb {
  -webkit-transition: box-shadow 0.3s ease-out;
  -moz-transition: box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
}
.td-ionmag-photo .td_module_mega_menu .td-module-thumb:hover .entry-thumb,
.td-ionmag-photo .td_module_related_posts .td-module-thumb:hover .entry-thumb,
.td-ionmag-photo .td_module_rd_4 .td-module-thumb:hover .entry-thumb,
.td-ionmag-photo .td_module_2 .td-module-thumb:hover .entry-thumb,
.td-ionmag-photo .td_module_3 .td-module-thumb:hover .entry-thumb,
.td-ionmag-photo .td_module_rd_15 .td-module-thumb:hover .entry-thumb {
  box-shadow: rgba(108, 108, 108, 0.2) 0px 2px 2px, rgba(108, 108, 108, 0.2) 0px 4px 4px, rgba(108, 108, 108, 0.2) 0px 8px 8px, rgba(108, 108, 108, 0.2) 0px 16px 16px, rgba(108, 108, 108, 0.1) 0px 32px 32px, rgba(108, 108, 108, 0.1) 0px 64px 64px;
}
.td-ionmag-photo .td_module_rd_15 .td-module-thumb:hover .entry-thumb,
.td-ionmag-photo .td_module_3 .td-module-thumb:hover .entry-thumb {
  box-shadow: rgba(108, 108, 108, 0.2) 0px 2px 2px, rgba(108, 108, 108, 0.2) 0px 4px 4px, rgba(108, 108, 108, 0.2) 0px 8px 8px, rgba(108, 108, 108, 0.2) 0px 16px 16px, rgba(108, 108, 108, 0.1) 0px 32px 32px;
}
.td-ionmag-photo.single_template_rd_10 .td-post-header .entry-category a {
  background-color: transparent;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .td-ionmag-photo.single_template_rd_10 .td-post-header .td-post-views-text {
    display: none;
  }
}
.td-ionmag-photo.single_template_rd_10 .td-pb-span12.td-main-content .td-post-sharing-top {
  text-align: center;
}
.td-ionmag-photo .td-footer-template-16 .td_block_rd_15 .td_module_rd_15 {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}
@media (min-width: 768px) {
  .td-ionmag-photo .td-footer-template-16 .td_block_rd_15 .td_module_rd_15 {
    width: 33%;
  }
}
.td-ionmag-photo .td-footer-template-16 .td_block_rd_15 .td_module_rd_15 .entry-title,
.td-ionmag-photo .td-footer-template-16 .td_block_rd_15 .td_module_rd_15 .td-post-category-wrap {
  display: none;
}
.td-ionmag-photo .td-footer-template-16 .td_block_rd_15 .td-module-thumb {
  position: relative;
  top: auto;
  left: auto;
  margin-bottom: 0;
}
.td-ionmag-photo .td-footer-template-16 .td_block_rd_15.td-column-1 .td-module-image {
  margin-bottom: 0;
}
.td-ionmag-photo .td-footer-template-16 .td_block_rd_15.td-column-1 .td_module_wrap:nth-child(2n+1) {
  clear: none;
}
.td-ionmag-photo .td-footer-template-16 .td-footer-extra-column .footer-text-wrap,
.td-ionmag-photo .td-footer-template-16 .td-footer-extra-column .td-social-style-2 {
  text-align: center;
}
.td-md-is-firefox .td-post-category {
  padding-top: 2px !important;
  padding-bottom: 2px;
}
