/*  ----------------------------------------------------------------------------
    responsive settings
*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
.mx_image_background {
  background-color: #f2f2f2;
}
.td-visibility-hidden {
  visibility: hidden;
}
/*  ----------------------------------------------------------------------------
    from bootstrap
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*
usage:
.td-block-row {
  .mx-row(td-block-span);
}

@all_span_selector - is the begining of the span selector
 */
/* Blog Baby Demo */
.td-ionmag-blog-baby .td-header-style-pr-2 .td-header-logo-wrap:after,
.td-ionmag-blog-baby .td-header-style-pr-3 .td-header-logo-wrap:after {
  display: none;
}
.td-ionmag-blog-baby.td_category_template_rd_4 .td-category-header {
  background-color: #fcfcfc;
  border-top: 1px solid #f2f2f2;
}
.td-ionmag-blog-baby.td_category_template_rd_4 .td-category-header .entry-title {
  margin-top: 21px;
}
.td-ionmag-blog-baby.td_category_template_rd_4 .td-category-header .td-category-crumb-filter {
  display: none;
}
.td-ionmag-blog-baby.td_category_template_rd_4 .td-main-content-wrap {
  padding-top: 60px !important;
}
.td-ionmag-blog-baby .td_block_big_grid_1 .td-meta-info-container {
  padding: 0;
  bottom: 50%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}
.td-ionmag-blog-baby .td_block_big_grid_1 .td-meta-info-container .td-module-title a {
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.td-ionmag-blog-baby .td_block_big_grid_1 .td-meta-info-container .td-post-category {
  background-color: #f76c91;
  color: #fff;
}
.td-ionmag-blog-baby .td_block_big_grid_1 .td-meta-info-container .td-post-date {
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-ionmag-blog-baby .td_module_mx3 .td-module-title {
    font-size: 28px !important;
  }
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-ionmag-blog-baby .td_module_mx1 .td-module-title {
    font-size: 18px !important;
  }
}
.td-ionmag-blog-baby .td_block_template_6 .td-block-title:after {
  display: none;
}
.td-ionmag-blog-baby .td_block_template_6 .td-block-title span {
  position: relative;
  font-size: 16px !important;
  font-weight: 400;
}
.td-ionmag-blog-baby .td_block_template_6 .td-block-title span:before,
.td-ionmag-blog-baby .td_block_template_6 .td-block-title span:after {
  content: '';
  position: absolute;
  bottom: 10px;
  width: 50px;
  height: 2px;
  background-color: #2a2a2a;
}
.td-ionmag-blog-baby .td_block_template_6 .td-block-title span:before {
  left: -66px;
}
.td-ionmag-blog-baby .td_block_template_6 .td-block-title span:after {
  right: -66px;
}
.td-ionmag-blog-baby .td_module_1 .td-post-category-wrap {
  position: static;
  margin-top: 15px;
}
.td-ionmag-blog-baby .td_module_1 .td-post-category-wrap a {
  color: #f76c91;
  background-color: transparent;
  font-size: 10px;
  text-transform: uppercase;
}
.td-ionmag-blog-baby .td_module_1 .td-module-title {
  text-align: center;
  font-weight: 400;
}
.td-ionmag-blog-baby .td_module_1 .td-module-title:after {
  display: none;
}
.td-ionmag-blog-baby .td_module_1 .td-module-meta-info {
  display: none;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-post-category-wrap {
  position: static;
  margin-bottom: 12px;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-post-category-wrap a {
  color: #f76c91;
  background-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-module-title {
  text-align: center;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-module-title:after {
  display: none;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-module-meta-info {
  text-align: center;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-module-meta-info .td-post-date {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-module-meta-info .td-post-date:after {
  display: none;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-module-meta-info .td-module-comments {
  display: none;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-module-image {
  margin: 22px 0 0 0;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-excerpt {
  font-size: 16px !important;
  line-height: 24px !important;
  font-style: normal !important;
  color: #888 !important;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-read-more {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 12px 20px;
  border: 1px solid #666;
  margin-top: 20px;
}
.td-ionmag-blog-baby .td_module_rd_6 .td-read-more i {
  display: none;
}
.td-ionmag-blog-baby .td_module_rd_11 .td-post-category {
  color: #f76c91;
  background-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
}
.td-ionmag-blog-baby .td_module_rd_11 .td-module-title {
  margin: 0 0 7px 0;
  padding: 0;
}
.td-ionmag-blog-baby .td_module_rd_11 .td-module-title:after {
  display: none;
}
.td-ionmag-blog-baby .td_module_rd_11 .td-module-meta-info .td-post-date {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.td-ionmag-blog-baby .td_module_rd_11 .td-module-meta-info .td-post-date:after {
  display: none;
}
.td-ionmag-blog-baby .td_module_rd_11 .td-module-meta-info .td-module-comments {
  display: none;
}
.td-ionmag-blog-baby .td_module_rd_11 .td-excerpt {
  font-size: 14px !important;
  line-height: 22px !important;
  font-style: normal !important;
  color: #888 !important;
}
.td-ionmag-blog-baby .td_module_rd_11 .td-read-more {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 12px 20px;
  border: 1px solid #666;
  margin-top: 20px;
}
.td-ionmag-blog-baby .td_module_rd_11 .td-read-more i {
  display: none;
}
.td-ionmag-blog-baby .td_ajax_load_more {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0;
  margin-top: 20px;
}
.td-ionmag-blog-baby .td_block_author {
  background-color: #f4f4f4;
}
.td-ionmag-blog-baby .td-footer-outer-wrapper {
  background-color: #222;
}
.td-ionmag-blog-baby .td-footer-outer-wrapper .td_block_template_14 .td-block-title {
  background-color: transparent;
  text-align: left;
}
.td-ionmag-blog-baby .td-footer-outer-wrapper .td_block_template_14 .td-block-title span {
  margin: 0;
  font-size: 16px !important;
  color: #999 !important;
}
.td-ionmag-blog-baby .td-social-style9 .td_social_info {
  display: none !important;
}
.td-ionmag-blog-baby .entry-title:after {
  display: none !important;
}
.td-ionmag-blog-baby .td-live-theme-demos .td-skin-buy a {
  background-color: #f76c91;
}
